*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-list {
  height: 100vh;
}

table {
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 30px;
}

img {
  width: 40px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

th,
td {
  border: 1px solid #d1d5db;
  padding: 15px 30px;
}

.target {
  padding: 30px 0;
}
