:root {
  --color-header: #3f3f46;
  --color-body: #71717a;
  --color-border: #d4d4d8;
  --color-accent: #ef4444;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-header);
}

h1,
th {
  color: var(--color-header);
}

.user-list {
  min-height: 100vh;
  border: 1px solid var(--color-border);
  border-radius: 20px;
}
.users_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.filter-list {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-list svg {
  width: 20px;
  height: auto;
  fill: var(--color-accent);
  color: var(--color-accent);
}

.current-filters {
  display: flex;
  align-items: center;
  text-decoration: underline;
  font-size: 14px;
  gap: 5px;

  color: var(--color-header);
  opacity: 0.9;
}

.current-filter button {
  font-size: 14px;
  font-family: inherit;
}

form {
  display: flex;
  gap: 20px;
  flex-basis: content;
}

table {
  border-collapse: collapse;
  text-align: start;
  border-radius: 20px;
  margin-bottom: 30px;
  overflow: hidden;
}

img {
  width: 40px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

th,
td {
  border-bottom: 1px solid var(--color-border);
  padding: 10px 25px;
  text-align: start;
}

tbody {
  color: var(--color-body);
}

th {
  font-weight: 500;
  padding: 20px 25px;
}

.target {
  padding: 30px 0;
}

.sorting {
  display: flex;
  align-items: center;
}

.sorting-btns {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.des {
  transform: rotate(180deg);
}

.title {
  margin-right: 10px;
}

button {
  background: none;
  border: none;
  margin-left: -5px;
}

button:hover {
  cursor: pointer;
}

svg {
  width: auto;
  height: 15px;
}

.active {
  color: var(--color-accent);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  text-align: center;
  text-transform: capitalize;
  color: var(--color-accent);
}

.css-wmy1p7-ReactDropdownSelect {
  border-radius: 10px !important;
}

.css-wmy1p7-ReactDropdownSelect span {
  font-size: 14px !important;
  color: var(--c);
}
/* .react-dropdown-select-dropdown {
 
} */

.css-z2hyoe-ItemComponent.react-dropdown-select-item-selected {
  background-color: var(--color-body) !important;
}
